.welcome-container {
    text-align: center;
    background: #1cc5a3;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .logo {
    width: 120px;
    margin: 20px;
  }
  
  .google-signin {
    background: white;
    color: black;
    border: none;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .google-icon {
    width: 20px;
    margin-right: 10px;
  }
  